<h1 class="text-light">@Title</h1>
<h2 class="text-light">@Tagline</h2>


@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Tagline { get; set; } = string.Empty;

}