@inherits LayoutComponentBase


<div class="d-flex flex-column h-100">
    <!---Top Nav--->
    <TopNavMenu />

    <!-- Main -->
    <main class="flex-grow-1">
        <article class="content px-4">
            <ErrorBoundary Context="ex" @ref="errorBoundaryRef">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p class="alert alert-danger mt-4" role="alert">
                        Error: @ex.Message
                    </p>
                    @* <button class="btn btn-primary m-5"
                            @onclick="@(() => errorBoundaryRef.Recover())">
                        Recover
                    </button> *@
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>

    <!-- Footer-->
    <footer class="flex-shrink-0">
        <Footer />
    </footer>
</div>






@code {
    private ErrorBoundary errorBoundaryRef;

    protected override void OnInitialized()
    {
        errorBoundaryRef = new();
    }
}
