@page "/"

<PageTitle>Home</PageTitle>

<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Hello, world!</h1>

    Welcome to your new app.
    <img src="/images/themovedblogo.svg"  class="w-25"/>
</div>



